---
layout: default
---

{% if page.name == "microsoft" %}
{% include header_msft.html %}

<script>
// creates PT object for each page. Including lang for future use
var PT = { lang: '{{page.lang}}' };
</script>

<section id="Title">
  <div class="Primary_Container">
    <h1>Hosting a Mapathon</h1>
  </div>
</section>

<section id="About">
  <div class="Primary_Container">
    <p>A mapathon allows volunteers the opportunity to digitally connect and map the most vulnerable places in the developing world.  As Microsoft employees, our work with Missing Maps helps local and international Non-Governmental Organizations (NGOs) get the data they need to better respond to crises affecting these areas. Up to date maps are important for the success of many humanitarian organizations around the world in responding to disasters. Your time spent volunteering with Missing Maps can have a real impact on the delivery of healthcare in the field.</p>
  </div>
</section>

<section id="Steps">
  <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/123.jpg">
</section>

<section id="GetStarted">
  <div class="Primary_Container">
    <h1>Get Started</h1>
    <p>As a mapathon host your role is to plan and execute the event.  You will be the one to choose the date, time, and location, invite attendees, invite a facilitator, and follow up with volunteers after the event.</p>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/njxePdKn1pI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <a href="#PlanningChecklist" class="btn btn-blue">Planning Checklist</a>
    <a href="#EventDayChecklist" class="btn btn-blue">Event Day Checklist</a>
    <a href="#PostEventChecklist" class="btn btn-blue">Post Event Checklist</a>
    <a href="#Materials" class="btn btn-blue">Materials</a>
  </div>
</section>

<section id="PlanningChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/planning_checklist.png" width="75">
      <h2>Planning Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Choose a date and time for your event</li>
        <li>Recruit volunteers to help plan and facilitate</li>
        <li>Book a space or Skype call</li>
        <li>Invite employees and remind them to bring their laptops (required) and mice (optional)</li>
        <li>Establish registration method (ex. S+, Outlook Voting, Forms, Badge Scanner)</li>
        <li>Establish method for capturing who attended the event (ex. Setup a registration table using a log sheet)</li>
        <li>Pick a task from the <a href="{{ site.path_prefix }}/microsoft/">Microsoft Missing Maps Partner Page</a></li>
        <li>Identify a group hashtag to track event progress</li>
        <li>Print mapathon resources including <a href="{{ site.path_prefix }}/assets/docs/Step-by-step guide to hosting a mapathon.pdf" download>step-by-step mapping guide<a/> and <a href="{{ site.path_prefix }}/assets/docs/Project number and hashtag handout.docx" download>project number and hashtag handout</a></li>
        <li>Order snacks (optional)</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="EventDayChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/event_day_checklist.png" width="75">
      <h2>Event Day Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Capture attendance information</li>
        <li>Put out printed resources </li>
        <li>Load <a href="https://arcmaps.s3.amazonaws.com/share/Missing%20Maps%20Presentations/FacilitationDeckv102018MSFT.pptx" download>Missing Maps presentation</a> and demo pages for the <a href="{{ site.path_prefix }}/microsoft/">Microsoft Missing Maps Partner Page</a> and your chosen task</li>
        <li>Set up snacks</li>
        <li>Have fun mapping!</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="PostEventChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/post_event_checklist.png" width="75">
      <h2>Post Event Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Send <a href="{{ site.path_prefix }}/assets/docs/Post event email template_msft.docx" download>recap, thank you mail</a> to attendees</li>
        <li>Include link to match time for participants who didn’t log at the event</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="Materials" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/resources.png" width="75">
      <h2>Training &amp; Event Materials</h2>
    </div>
    <div class="right">
      <ul>
        <li><a href="{{ site.path_prefix }}/assets/docs/Step-by-step guide to hosting a mapathon.pdf" download>Step-by-Step Guide to Hosting a Mapathon</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Invitation template.docx" download>Invitation template</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Guide for using hashtags and the leaderboard (MSFT).pdf" download>Guide to using hashtags and the leaderboard</a></li>
        <li><a href="https://arcmaps.s3.amazonaws.com/share/Missing%20Maps%20Presentations/FacilitationDeckv102018MSFT.pptx" download>Missing Maps presentation</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/table_top.jpg" download>Step-by-step mapping handout</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Project number and hashtag handout.docx" download>Project number and hashtag handout</a></li>
        <li><a href="https://www.youtube.com/watch?v=MEU9c3NkMg0">Introduction Video – How to Map</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Missing Maps - FAQs.pdf" download>Mapping FAQs</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Post event email template_msft.docx" download>Post event email template</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Missing Maps media guide.pdf" download>Missing Maps media guide</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/staying_engaged.pdf" download>Staying engaged with your American Red Cross &amp; Missing Maps</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="MapathonSupport">
  <div class="Primary_Container">
    <h1>Mapathon Support</h1>
    <p>The Missing Maps team can support you in several ways. Please reach out to our contacts at the American Red Cross for help with task selection, in-person mapathon facilitation or if you have any questions.</p>
    <ul>
      <li><a href="mailto:colin.peterson@redcross.org">Colin Peterson</a></li>
      <li><a href="mailto:morgan.beach@redcross.org">Morgan Beach</a></li>
    </ul>
    <p>In a remote office?  Volunteer mapathon supporters are located around the globe! <a href="http://www.missingmaps.org/host/#helper-map-contents">Check for a volunteer in your area.</a></p>
  </div>
</section>

{% include footer_msft.html %}

{% elsif page.name == "aws" %}

{% include header_aws.html %}

<script>
// creates PT object for each page. Including lang for future use
var PT = { lang: '{{page.lang}}' };
</script>

<section id="Title">
  <div class="Primary_Container">
    <h1>Hosting a Mapathon</h1>
  </div>
</section>

<section id="About">
  <div class="Primary_Container">
    <p>A mapathon allows volunteers the opportunity to digitally connect and map the most vulnerable places in the developing world.  As AWS employees, our work with Missing Maps helps local and international Non-Governmental Organizations (NGOs) get the data they need to better respond to crises affecting these areas. Up to date maps are important for the success of many humanitarian organizations around the world in responding to disasters. Your time spent volunteering with Missing Maps can have a real impact on the delivery of healthcare in the field.</p>
  </div>
</section>

<section id="Steps">
  <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/123.jpg">
</section>

<section id="GetStarted">
  <div class="Primary_Container">
    <h1>Get Started</h1>
    <p>As a mapathon host your role is to plan and execute the event.  You will be the one to choose the date, time, and location, invite attendees, invite a facilitator, and follow up with volunteers after the event.</p>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/njxePdKn1pI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div>
    <a href="#PlanningChecklist" class="btn btn-blue">Planning Checklist</a>
    <a href="#EventDayChecklist" class="btn btn-blue">Event Day Checklist</a>
    <a href="#PostEventChecklist" class="btn btn-blue">Post Event Checklist</a>
    <a href="#Materials" class="btn btn-blue">Materials</a>
  </div>
</section>

<section id="PlanningChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/planning_checklist.png" width="75">
      <h2>Planning Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Choose a date and time for your event</li>
        <li>Recruit volunteers to help plan and facilitate</li>
        <li>Book a space or conference call</li>
        <li>Invite employees and remind them to bring their laptops (required) and mice (optional)</li>
        <li>Establish registration method</li>
        <li>Establish method for capturing who attended the event (ex. Setup a registration table using a log sheet)</li>
        <li>Pick a task from the <a href="{{ site.path_prefix }}/aws/">AWS Missing Maps Partner Page</a></li>
        <li>Identify a group hashtag to track event progress</li>
        <li>Print mapathon resources including <a href="{{ site.path_prefix }}/assets/docs/How to Host a Mapathon_ Step by Step.pdf" download>step-by-step mapping guide</a> and <a href="{{ site.path_prefix }}/assets/docs/Project number and hashtag handout.pdf" download>project number and hashtag handout</a></li>
        <li>Order snacks (optional)</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="EventDayChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/event_day_checklist.png" width="75">
      <h2>Event Day Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Capture attendance information</li>
        <li>Put out printed resources </li>
        <li>Load <a href="https://cdn.hotosm.org/AWS+Mapathon_+event+lead+presentation.pptx" download>Missing Maps presentation</a> and demo pages for the <a href="{{ site.path_prefix }}/aws/">AWS Missing Maps Partner Page</a> and your chosen task</li>
        <li>Set up snacks</li>
        <li>Have fun mapping!</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="PostEventChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/post_event_checklist.png" width="75">
      <h2>Post Event Checklist</h2>
    </div>
    <div class="right">
      <ul>
        <li>Send <a href="{{ site.path_prefix }}/assets/docs/Post event email template_aws.docx" download>recap, thank you mail</a> to attendees</li>
        <li>Include link to match time for participants who didn’t log at the event</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="Materials" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/resources.png" width="75">
      <h2>Training &amp; Event Materials</h2>
    </div>
    <div class="right">
      <ul>
        <li><a href="{{ site.path_prefix }}/assets/docs/How to Host a Mapathon_ Step by Step.pdf" download>Step-by-Step Guide to Hosting a Mapathon</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Invitation Email.docx" download>Invitation template</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Guide for using hashtags and the leaderboard.pdf" download>Guide to using hashtags and the leaderboard</a></li>
        <li><a href="https://cdn.hotosm.org/AWS+Mapathon_+event+lead+presentation.pptx" download>Missing Maps presentation</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/English Tabletop.pdf" download>Step-by-step mapping handout (en) </a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/French Tabletop.pdf" download>Step-by-step mapping handout (fr)</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/German Tabletop.pdf" download>Step-by-step mapping handout (de)</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Spanish Tabletop.pdf" download>Step-by-step mapping handout (es)</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Project number and hashtag handout.pdf" download>Project number and hashtag handout</a></li>
        <li><a href="https://www.youtube.com/watch?v=MEU9c3NkMg0">Introduction Video – How to Map</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Missing Maps FAQs.docx" download>Mapping FAQs</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Recap _ Thank You Email.docx" download>Post event email template</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/Missing Maps media guide.pdf" download>Missing Maps media guide</a></li>
        <li><a href="{{ site.path_prefix }}/assets/docs/staying_engaged.pdf" download>Staying engaged with your American Red Cross &amp; Missing Maps</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="MapathonSupport">
  <div class="Primary_Container">
    <h1>Mapathon Support</h1>
    <p>The Missing Maps team can support you in several ways. Please reach out to our contacts at the American Red Cross for help with task selection, in-person mapathon facilitation or if you have any questions.</p>
    <ul>
      <li><a href="mailto:colin.peterson@redcross.org">Colin Peterson</a></li>
      <li><a href="mailto:morgan.beach@redcross.org">Morgan Beach</a></li>
    </ul>
    <p>In a remote office?  Volunteer mapathon supporters are located around the globe! <a href="http://www.missingmaps.org/host/#helper-map-contents">Check for a volunteer in your area.</a></p>
  </div>
</section>

{% include footer_aws.html %}

{% elsif page.name == "hpegives" %}

{% include header_hpe.html %}

<script>
// creates PT object for each page. Including lang for future use
var PT = { lang: '{{page.lang}}' };
</script>

<section id="Title">
  <div class="Primary_Container">
    <h1>Hosting a Mapathon</h1>
  </div>
</section>

<section id="PlanningChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/before_event.png" width="75">
      <h2>Before event</h2>
    </div>
    <div class="right">
      <ul>
        <li>Choose a date and time for your event, we recommend a 90 minute to 2 hour event as a best practice</li>
        <li>Confirm an <a href="https://hpe.sharepoint.com/sites/F6/MC/corporate-affairs/hpegives/Pages/hpe-missing-maps.aspx">HPE Missing Maps Champion</a> can facilitate your mapping event </li>
        <li><a href="https://americanredcross.wufoo.com/forms/k12xoqku0jnb5ja/">Register your event with the Red Cross</a> so they can track impact and HPE mapping data</li>
        <li>Book a space or online meeting via HPE MyRoom</li>
        <li>Invite employees using the <a href="{{ site.path_prefix }}/assets/docs/HPE_email_templates.docx">email template</a></li> 
        <li>Send a reminder 1-2 days before your event, reminding attendees to <a href="www.openstreetmap.org/user/new">register a mapping user ID</a> in advance and to bring their laptops (required in person) and mice (optional)</li>
        <li>Pick a task from the <a href="http://www.missingmaps.org/partners/hpe">HPE Missing Maps Partner Page</a></li>
        <li>Use #HPEGives and consider creating a hashtag for your site or event to track your progress</li>
        <li>Share you experience in the HPE Awards Group <a href="https://www.yammer.com/hpe.com/#/threads/inGroup?type=in_group&feedId=8850263"></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="EventDayChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/during_event.png" width="75">
      <h2>During event</h2>
    </div>
    <div class="right">
      <ul>
        <li>Set up presentation technology needed for your HPE Missing Maps Champion facilitator early and fix any audio/visual issues</li>
        <li>Capture attendance information</li>
        <li>In-person events: Put out any printed resources, plug in extra power strips, and set up snacks/swag</li>
        <li>Online events: Share important links like the <a href="http://www.missingmaps.org/partners/hpe/">HPE Missing Maps Partner Page</a> and <a href="http://www.openstreetmap.org/user/new"> mapping user registration page</a> in a common chat or online meeting lobby</li>
        <li>Load <a href="https://arcmaps.s3.amazonaws.com/share/Exchange%20Resources/MM%20Slides%20April%202019%20%28compressed%29.pptx" download>Missing Maps presentation</a> and demo pages for the <a href="http://www.missingmaps.org/partners/hpe/">HPE Missing Maps Partner Page</a> and your chosen task</li>
        <li>Have fun mapping!</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section id="PostEventChecklist" class="checklist">
  <div class="Primary_Container">
    <div class="shim">&nbsp;</div>
    <div class="left">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/after_event.png" width="75">
      <h2>After event</h2>
    </div>
    <div class="right">
      <ul>
        <li>Send <a href="{{ site.path_prefix }}/assets/docs/HPE_email_templates.docx" download>recap, thank you mail</a> to attendees</li>
        <li>Share your experience in the <a href="https://www.yammer.com/hpe.com/#/threads/inGroup?type=in_group&feedId=8850263">HPE Awards Group</a></li>
        <li>Host another mapathon again soon!</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

{% include footer.html %}

{% endif %}
