---
layout: default
---
<!-- # # # # # # # # -->
<!-- custom microsoft page -->
<!-- # # # # # # # # -->
{% if page.name == "microsoft" %}
{% include header_msft.html %}

<script>
  // creates PT object for each page. Including lang for future use
  var PT = { lang: '{{page.lang}}' };
</script>

<h1>{{ page.name }}</h1>

<section id = "Primary">
  {% include intro_msft.html %}
</section>

<section id = "Stats">
  {% include stats_msft.html %}
</section>

<section class="Get-Started">
  {% include get_started_msft.html %}
</section>

<section class = "Current-Projects">
  {% include projects_msft.html %}
</section>

<section class="Event">
  {% include event_msft.html %}
</section>

<section class="Log-Time">
  {% include log_time_msft.html %}
</section>

<section class = "Teams">
  {% include teams_msft.html %}
</section>

<section class = "Community">
  {% include community_msft.html %}
</section>

{% include footer..html %}

<!-- # # # # # # # # -->
<!-- custom aws page -->
<!-- # # # # # # # # -->
{% elsif page.name == "aws" %}
{% include header_aws.html %}

<script>
  // creates PT object for each page. Including lang for future use
  var PT = { lang: '{{page.lang}}' };
</script>

<h1>{{ page.name }}</h1>

<section id = "Primary">
  {% include intro_aws.html %}
</section>

<section id = "Stats">
  {% include stats_aws.html %}
</section>

<section class="Get-Started">
  {% include get_started_aws.html %}
</section>

<section class = "Current-Projects">
  {% include projects_aws.html %}
</section>

<section class = "Teams">
  {% include teams_aws.html %}
</section>

{% include footer.html %}

<!-- # # # # # # # # -->
<!-- custom hpe page -->
<!-- # # # # # # # # -->
{% elsif page.name == "hpegives" %}
{% include header_hpe.html %}

<script>
  // creates PT object for each page. Including lang for future use
  var PT = { lang: '{{page.lang}}' };
</script>

<h1>{{ page.name }}</h1>

<section id = "Primary">
  {% include intro.html %}
</section>

<section class="Get-Started">
  {% include get_started_hpe.html %}
</section>

<section class = "Current-Projects">
  {% include projects_hpe.html %}
</section>

<section class = "Teams">
  {% include teams.html %}
</section>

<section class = "Community">
  {% include community.html %}
</section>

{% include footer.html %}

{% else %}
{% include header.html %}

<script>
  // creates PT object for each page. Including lang for future use
  var PT = { lang: '{{page.lang}}' };
</script>

<h1>{{ page.name }}</h1>

<section id = "Primary">
  {% include intro.html %}
</section>

<section class = "Current-Projects">
  {% include projects.html %}
</section>

<section class = "Teams">
  {% include teams.html %}
</section>

<section class = "Community">
  {% include community.html %}
</section>

{% include footer.html %}
{% endif %}
