language: ruby
rvm:
  - 2.7.5
env:
  global:
  - TRAVIS_NODE_VERSION="v8"
  - CXX=g++-4.8
  - DEPLOY_BRANCH=master
  - GH_REF=github.com/MissingMaps/partners
  - secure: MMMUrCBQ3LxQ2uybgS4jkmow/pX/X+5MhaXEQvUrFvVDJHatyqq6JBM9KJfP7jcgblK0uPEEn5dYrxvrwUgob12tUGogy2WbzF9xtYlMmkLOjNLwpBEjkRCXiV0+FIXbyPaumNBCwMwLnfQ91nH9/er48EmlFxtJqtkf7eYU2VRb0Os1zsuiBOA++MyuWFGrdMimMd4u6Zu49VSZxT4VMQXO54rwlROjar1QSTxtX1qRrPrX+lT54U4peADlDuqgMkAJyiWrGbKjIeGB1BTsRo3OGWj7MCTuq3vnTv+lacKcuKZ+raaxjhqiEp9yPNHpNgjjHIEheVZxnxpqD7jGH5weRyKuI0HjY0u1v0FKLeCYeZ1EAAkkLNcJ6Y/j2+FeExposUSNpyBgnCx4lQ3yWuqg2axznrF01BfBMLdgyQ0apgiPXm9HI4xQF+TOxWPWm6dCLXc8nMeOazWv4L1YFeg51BiwKorDUFLs9pjKxkbpjvTp7O9d4aJt5ASNSg+i0KirN2inulcnIfHRWHHlcjfdZWxvUr3aRZ0ZXNvJ1PlKubcL4a6aW61niLKepBKrqu+jYqQxRFu8NYWelzgBFyXw44hkUrfy5XSz4WK8NfKq7e1POIXNHAa7EbonfObInjwrV2M9RFP2BNnCboIZiZeDZ3OnzfxJC+RhPkj1vDw=
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
#cache:
#  apt: true
#  directories:
#  - node_modules
before_install:
- chmod +x ./.build_scripts/deploy.sh
before_script:
  - . $HOME/.nvm/nvm.sh
  - nvm install $TRAVIS_NODE_VERSION
  - nvm use $TRAVIS_NODE_VERSION
  - npm install
script:
- npm run build-prod
deploy:
  provider: script
  skip_cleanup: true
  script: ".build_scripts/deploy.sh"
  on:
    branch: "${DEPLOY_BRANCH}"
