/*----------------------------------------------*/
/* Button Styling */ 
/*----------------------------------------------*/

.btn {
  display: inline-block;
  padding: 8px 14px 6px 14px;
  margin: 10px 8px 6px 0;
  font-family: 'Lato';
  font-size: .8em;
  font-weight: 400;
  line-height: 23px;
  color: white;
  text-decoration: none;
  letter-spacing: .06em;
  cursor: pointer;
  background-color: $ButtonColor;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  transition: active .25s;
  transition-timing-function: linear;
  transition-duration: .12s;
  transition-property: background color border;
  a {
    font-size: 1em;
    color: white;
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
    &:visited {
      color: white;
    }
  }
}

.btn-blue {
  color: white;
  background-color: $mmTeal;

  &:hover {
    color: white;
    background-color: darken($ButtonColor, 12%);
  }
  &:active {
    color: white;
    background-color: darken($ButtonColor, 15%);
  }
  &:focus {
    color: white;
    background-color: darken($ButtonColor, 12%);
  }
}

.btn-grn {
  color: white;
  background-color: $mmGreen;
  &:hover {
    color: white;
    background-color: darken($mmGreen, 12%);
  }
  &:active {
    color: white;
    background-color: darken($mmGreen, 15%);
  }
  &:focus {
    color: white;
    background-color: darken($mmGreen, 12%);
  }
}

.invert-btn-grn{
  background-color: rgba(0,0,0,0);
  border: 1px solid darken($mmGreen, 10);
  color: darken($mmGreen, 10);
  &:hover{
    background-color: lighten($mmGreen, 24);
  }
  &:active{
    background-color: lighten($mmGreen, 24);
  }
  &:focus{
    background-color: lighten($mmGreen, 24);
  }
  a{
    color: darken($mmGreen, 10);
    &:hover{
    }
    &:visited{
      color: darken($mmGreen, 10);
    }
  }
}

.invert-btn-white {
  padding-top: 15px;
  color: $mmTeal;
  background-color: rgba(0,0,0,0);
  border: $mmTeal 1px solid;
  &:hover {
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
  }
  &:active {
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
  }
  &:focus {
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
    &:visited {
      color: white;
    }
  }
}

.events-panel {
  .btn {
    border-radius: 0;
  }
}

.teams-btn {
  display: none;
}
