/*----------------------------------------------*/
/* Flex Slider Overwrite for the Community */ 
/*----------------------------------------------*/

.flexslider {
  margin: 0 auto;
  border: 0;
}

.flexslider .slides img {
  width: auto;
}

.flickr-hit {
  background-color: $darkestgrey;
}

.flex-control-nav li {
  margin: 0 8px;
}

.flickr-hit li img {
  max-height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.flickr-hit  li:not(.flex-active-slide) img {
  height: 0 !important;
}

.flex-control-nav li a {
  background-color: $lightgrey;
  /*	border: 1px solid $border-grey;*/
  border: 0;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  &:hover {
    background-color: rgba(196, 226, 159, .5);
  }
}

.flex-control-paging li a.flex-active {
  background-color: lighten($mmGreen, 8);
  border: 0;
  /*	border: 1px solid lighten($darkgrey, 10);*/
}

.Projects-Container-Leftside {
  float: initial;
  @media screen and (min-width: 1100px) {
    float: left;
    width: 75%;
  }
}

/* Projects Section */
.Projects-slider {
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: 0;
  .flex-control-nav {
    position: relative;
    width: auto;
    li {
      margin: 10px;
    }
  }
}

.spinner > div.big {
  width: 10px;
  height: 10px;
}

.HOT-Nav-Projects {
  .flex-control-nav {
    position: relative;
    bottom: 1px;
    display: inline;
    width: 100%;
    margin-left: 0;
  }
  .flex-next {
    position: absolute;
    top: -4px;
    display: inline-block;
    padding-left: 14px;
    &:hover {
      color: lighten($mmGreen, 14);
    }
    &:active {
      color: lighten($mmGreen, 14);
    }
    &:focus {
      color: $mmGreen;
    }
  }
  .flex-direction-nav a {
    position: inherit;
    top: 50%;
    display: initial;
    width: initial;
    height: initial;
    color: inherit;
    text-decoration: none;
    text-shadow: initial;
    opacity: 1;
  }
}

.Projects-slider .flex-control-nav {
  @media screen and (max-width: 1100px) {
    right: 4%;
  }
  @media screen and (max-width: 600px) {
    right: 2%;
  }
}

#Community-Flickr {
  .flex-direction-nav a {
    /*		display: initial;
		width: initial;
		height: initial;
		position: inherit;*/
    font-size: 2em;
    color: white;
    text-decoration: none;
    text-shadow: initial;
    opacity: .5;
    &:before {
      content: '';
    };
  }
}

.Community-Navigation ol {
  position: relative;
  top: 30px;
}

.photo-width-fix {
  width: 80%;
  background-color: rgba(0,0,0,0);
  .flex-control-nav {
    position: relative;
    bottom: -2.5em;
    width: 80%;
    margin: 0 auto 1em auto;
    margin-bottom: 2em;
    background-color: rgba(0,0,0,0);
  }
}

.flex-direction-nav .flex-prev {
  left: 0;
}

.flex-direction-nav .flex-next {
  right: 0;
  overflow: hidden;
}
