/*Community Section*/

.flexslider{
  border: 0;
  margin: 0 auto;
}

.flexslider .slides img{
	width: auto;
}

.flickr-hit{
	background-color: $darkestgrey;
}

.flex-control-nav li{
	margin: 0px 8px;
}

.flickr-hit li img{
	max-height:500px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

.flickr-hit  li:not(.flex-active-slide) img{ 
	height: 0 !important;
}

.flex-control-nav li a{
	background-color: $lightgrey;
/*	border: 1px solid $border-grey;*/
	border: 0px;
	-webkit-box-shadow: initial;
	box-shadow: initial;
	&:hover{
		background-color: rgba(196, 226, 159, 0.5);
	}
}

.flex-control-paging li a.flex-active{
	background-color: lighten($mmGreen, 8);
	border: 0px;
/*	border: 1px solid lighten($darkgrey, 10);*/
}

.Projects-Container-Leftside{
	float: initial;
	@media screen and (min-width: 1100px){
		width: 75%;
		float: left;
	}
}

/* Projects Section */
.Projects-slider{
	border: 0;
	background-color: rgba(0,0,0,0);
	width: 100%;
	.flex-control-nav{
		width: auto;
		position: relative;
		li{
			margin: 10px;
		}
	}
}

.spinner > div.big{
	width: 10px;
	height: 10px;
}

.HOT-Nav-Projects{
	.flex-control-nav{
		width: 100%;
		position: relative;
		bottom: 1px;
		margin-left: 0px;
		display: inline;
	}
	.flex-next{
		display: inline-block;
		position:absolute;
		top: -4px;
		padding-left: 14px;
		&:hover{
			color: lighten($mmGreen, 14);
		}
		&:active{
			color: lighten($mmGreen, 14);
		}
		&:focus{
			color:$mmGreen;
		}
	}
	.flex-direction-nav a{
		text-decoration: none;
		display: initial;
		width: initial;
		height: initial;
		position: inherit;
		top: 50%;
		opacity: 1;
		color: inherit;
		text-shadow: initial;
	}
}

.Projects-slider .flex-control-nav{
	@media screen and (max-width: 1100px){
		right: 4%;
	}
	@media screen and (max-width: 600px){
		right: 2%;
	}
}

#Community-Flickr{
	.flex-direction-nav a{
		text-decoration: none;
/*		display: initial;
		width: initial;
		height: initial;
		position: inherit;*/
		font-size: 2em;		
		opacity: 0.5;
		color: white;
		text-shadow: initial;
		&:before{
			content: '';
		};
	}
}

.Community-Navigation ol{
	position: relative;
	top: 30px;
}

#Community-Flickr .flex-direction-nav li a .flex-prev{
}

.photo-width-fix{
	background-color: rgba(0,0,0,0);
	width: 80%;
	.flex-control-nav{
		width: 80%;
		position: relative;
		margin: 0 auto 1em auto;
		bottom: -2.5em;
		background-color: rgba(0,0,0,0);
		margin-bottom: 2em;
	}
}

.flex-direction-nav .flex-prev{
	left: 0%;
}

.flex-direction-nav .flex-next{
	 	right: 0%;
		overflow: hidden;
}