/*Community Section*/

.flexslider{
  border: 0;
  margin: 0 auto;
}

.flexslider .slides img{
	width: auto;
}

.flickr-hit{
	background-color: $darkestgrey;
}

.flickr-hit li img{
	max-height:350px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

.flickr-hit  li:not(.flex-active-slide) img{ 
	height: 0 !important;
}

.flex-control-nav{
	bottom: 10px;
	z-index: 99;
}

.flex-control-nav li a{
	background-color: rgba(0,0,0,0);
	border: 1px solid $lightgrey;
	&:hover{
		background-color: darken($mmTeal,8);
	}
}

.flex-control-paging li a.flex-active{
	background-color: lighten($mmTeal, 8);
}

/* Projects Section */
.Projects-slider{
	border: 0;
	background-color: rgba(0,0,0,0);
	float: left;
	width: 100%;
	.flex-control-nav{
		bottom: 0;
		right: -66px;
		top: 0;
		width: auto;
		li{
			display: block;
			margin: 10px;
		}
	}
	@media screen and (min-width: 1100px){
		width: 70%;
	}
}

.Projects-slider .flex-control-nav{
	@media screen and (max-width: 1100px){
		right: 4%;
	}
	@media screen and (max-width: 600px){
		right: 2%;
	}
}