---
layout: default
---

{% include header.html %}
<h1>JP Morgan Chase</h1>
<section id = "Hero">
  <div class = "Hero-image">
    <div class = "Partner-title">
      JP Morgan Chase
    </div>
    <div class = "btn btn-blue">
      BENEVITY
    </div>
  </div>
</section>

<section id = "Primary">
  <div class = "Primary_Container">
    <div class = "Primary-logo">
      <img src= "../assets/graphics/content/logos/JPMorgan_Chase.png" width = "150px"></img>
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Edit.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">8,125</div>
      <div class="title">
        Contributions
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Changeset.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">92</div>
      <div class="title">
        Contributors
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Changeset.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">60</div>
      <div class="title">
        Projects Completed
      </div>
    </div>
  </div>
</section>

<section class = "Current-Projects">
  <div class = "Projects-Container">
    <div class = "HOT-Task">
      <div class = "HOT-Map">
      </div>
      <div class = "HOT-Title">
        <b>Current Projects:</b> Zone two of epidemic meningitis Togo 
      </div>
      <div class = "HOT-Description">
        <p>In order to help all organizations seeking to circumscribe the meningitis outbreak area, OpenStreetMap Togo launches calls for mapping of areas affected by meningitis. This mapping will be mapped roads, residential areas and buildings.
      </div>
      <div class = "HOT-Contribute">
      </div>
    </div>
    <div class = "GetInvolved">
      
    </div>    
  </div>
</section>

<section id = "Events">
  <h1>Upcoming Events</h1>
  {% include events_min.html %}
  <div class="events-panel">
    <a href="" class="button invert-btn-white">SEE ALL</a>
  </div>
</section>

<section class = "Teams">
  <div class = "Team-Container">
    <h1>Activity</h1>
    <div class = "Team-Nav">
      <p>VIEW BY:</p>
      <p class = "Selected">TEAMS</p>
      <p>USERS</p>
    </div>
    <div class = "Team-Stats">
      <div class = "Team-Graph"></div>
      <div class = "Team-Graph"></div>
      <div class = "Team-Graph"></div>
    </div>
  </div>
</section>

<section class = "Community">
  <div class = "Community-Container">
    <h1>Community</h1>
    <div class = "Community-Flickr">
    </div>
    <div class = "Community-Links">
    </div>
  </div>
</section>

<section class = "Get-Involved">
</section>