---
layout: default
---

{% include header.html %}
<h1>JP Morgan Chase</h1>
<section id = "Hero">
  <div class = "Hero-image">
    <div class = "Partner-title">
      JP Morgan Chase
    </div>
    <div class = "btn btn-blue">
      BENEVITY
    </div>
  </div>
</section>

<section id = "Primary">
  <div class = "Primary_Container">
    <div class = "Primary-logo">
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Edit.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">8,125</div>
      <div class="title">
        Contributions
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Changeset.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">8,125</div>
      <div class="title">
        Contributors
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="../assets/graphics/staticons/Changeset.svg" width="70px">
      <div class="emphasizedNumber" id="stats-usersCount">8,125</div>
      <div class="title">
        Projects Completed
      </div>
    </div>
  </div>
</section>

<section class = "Current-Projects">
  <h1>Current Project</h1>
  <div class = "Projects-Container">
    <div class = "HOTTask"></div>
    <div class = "GetInvolved"></div>    
  </div>
</section>

<section id = "Events">
  <h1>Upcoming Events</h1>
  {% include events_min.html %}
  <div class="events-panel">
    <a href="" class="button invert-btn-white">SEE ALL</a>
  </div>
</section>

<section class = "Teams">
  <div class = "Team-Container">
    <h1>Activity</h1>
    <div class = "Team-Nav">
      <p>VIEW BY:</p>
      <p>TEAMS</p>
      <p>USERS</p>
    </div>
    <div class = "Team-Stats">
      <div class = "Team-Graph"></div>
      <div class = "Team-Graph"></div>
      <div class = "Team-Graph"></div>
    </div>
  </div>
</section>

<section class = "Community">
  <div class = "Community-Container">
    <h1>Community</h1>
    <div class = "Community-Flickr">
    </div>
    <div class = "Community-Links">
    </div>
  </div>
</section>

<section class = "Get-Involved">
</section>