@charset "UTF-8";
body.microsoft {
  background-color: white;
  font-family: 'SegoeUI', 'Open Sans', sans-serif;
}

body.microsoft ul,
body.microsoft li,
body.microsoft ol,
body.microsoft p,
body.microsoft h1,
body.microsoft h1,
body.microsoft .titlewhite,
body.microsoft .titlewhite p,
body.microsoft .GetInvolved h3 {
  font-family: 'SegoeUI', 'Open Sans', sans-serif;
}

body.microsoft a,
body.microsoft .nav-dropdown {
  color: #0078d7;
}

body.microsoft header,
body.microsoft #Primary,
body.microsoft .footer-mm {
  background-color: black;
}

body.microsoft section#Primary {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(75%, black), color-stop(75%, white), to(white));
  background: linear-gradient(to bottom, black 0%, black 75%, white 75%, white 100%);
}

body.microsoft section#Primary .Primary_Container {
  width: 50%;
}

body.microsoft section#Primary h1,
body.microsoft section#Primary p {
  color: white;
}

body.microsoft section#Primary h1 {
  font-weight: 300;
  font-size: 32px;
  margin-top: 5px;
}

body.microsoft section#Primary p {
  margin-bottom: 10px;
}

body.microsoft section#Primary .video {
  border: 5px solid white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 315px;
  width: 560px;
  position: relative;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body.microsoft section#Primary .video .videoPlaceholder {
  height: 100%;
  min-width: 100%;
  max-width: none;
}

body.microsoft section#Primary .video .play {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 36px;
  width: 36px;
}

body.microsoft section#Stats {
  background-color: white;
  padding-top: 0;
}

body.microsoft section#Stats .Primary-stats {
  float: none;
}

body.microsoft section#Stats .Stat-Item {
  margin: 3em;
}

body.microsoft section#Stats .Stat-Item .emphasizedNumber {
  color: black;
  font-size: 1.6em;
}

body.microsoft section#Stats .Stat-Item .title {
  color: black;
  font-size: 1em;
}

body.microsoft section.Current-Projects {
  background-color: black;
  text-align: center;
}

body.microsoft section.Current-Projects h1 {
  color: white;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

body.microsoft section.Current-Projects h3 {
  font-size: 1.2em;
  font-weight: 700;
}

body.microsoft section.Current-Projects h3 b {
  font-weight: 700;
}

body.microsoft section.Current-Projects p {
  color: white;
  font-size: 0.8em;
}

body.microsoft section.Current-Projects .HOT-Container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow: hidden;
}

body.microsoft section.Current-Projects .HOT-Container h3 {
  color: white;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

body.microsoft section.Current-Projects .HOT-Container p {
  text-align: center;
}

body.microsoft section.Current-Projects .HOT-Map {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #EEEEEE;
}

body.microsoft section.Current-Projects .HOT-Progress {
  background-color: #333;
  height: 5px;
  margin: 10px 0;
}

body.microsoft section.Current-Projects .HOT-Progress:before {
  background-color: #0078d7;
}

body.microsoft section.Current-Projects .HOT-Progress p {
  display: none;
}

body.microsoft section.Current-Projects .HOT-Map,
body.microsoft section.Current-Projects .HOT-Details {
  float: none;
}

body.microsoft section.Current-Projects .flex-control-nav {
  bottom: -20px;
}

body.microsoft section.Current-Projects .flex-direction-nav a {
  color: white;
  opacity: 1;
  top: 30%;
  -webkit-transition: none;
  transition: none;
}

body.microsoft section.Current-Projects .flex-direction-nav a:hover {
  opacity: 1;
}

body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-prev,
body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 20%;
}

body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-next,
body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 20%;
}

body.microsoft section.Current-Projects .flex-direction-nav a:before {
  font-family: 'SegoeUI', 'Open Sans', sans-serif;
  content: '‹';
}

body.microsoft section.Current-Projects .flex-direction-nav a.flex-next:before {
  font-family: 'SegoeUI', 'Open Sans', sans-serif;
  content: '›';
}

body.microsoft section.Get-Started {
  background-color: #ddd;
}

body.microsoft section.Get-Started .Primary_Container {
  width: 40%;
}

body.microsoft section.Get-Started h1 {
  color: black;
  font-weight: 300;
}

body.microsoft section.Get-Started h4 {
  color: black;
  font-weight: 300;
}

body.microsoft section.Get-Started .left,
body.microsoft section.Get-Started .right {
  margin: 0;
  width: 50%;
}

body.microsoft section.Get-Started .left div,
body.microsoft section.Get-Started .right div {
  padding-top: 30px;
}

body.microsoft section.Get-Started .left div {
  border-right: 1px solid #979797;
}

body.microsoft section.Event {
  background-image: url("/partners/assets/graphics/msft/event.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
}

body.microsoft section.Log-Time {
  background: -webkit-gradient(linear, right top, left top, from(#0078d7), to(#92cbca));
  background: linear-gradient(to left, #0078d7, #92cbca);
}

body.microsoft section.Log-Time .Primary_Container {
  width: 50%;
}

body.microsoft section.Log-Time h1 {
  color: white;
  font-weight: 300;
  text-align: center;
}

body.microsoft section.Log-Time p {
  color: white;
  margin-bottom: 20px;
}

body.microsoft section.Teams {
  background-color: white;
}

body.microsoft section.Teams h3 {
  color: black;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
}

body.microsoft section.Teams p {
  color: black;
  font-size: 0.9em;
}

body.microsoft section.Teams .Team-User-Graph {
  overflow-y: scroll;
}

body.microsoft section.Community {
  background-color: black;
}

body.microsoft section.Community .Primary_Container {
  width: 50%;
}

body.microsoft section.Community h1 {
  color: white;
  font-weight: 300;
}

body.microsoft section.Community p {
  color: white;
}

body.microsoft section.Community .Community-Links {
  margin: 1.5em 0;
}

body.microsoft section#Title {
  background-color: black;
}

body.microsoft section#Title .Primary_Container {
  height: 200px;
  width: 50%;
}

body.microsoft section#Title h1 {
  color: white;
  font-weight: 300;
  margin-top: 90px;
}

body.microsoft section#About .Primary_Container {
  width: 50%;
}

body.microsoft section#GetStarted .Primary_Container {
  width: 50%;
}

body.microsoft section#GetStarted h1 {
  color: black;
  font-weight: 300;
}

body.microsoft section#GetStarted p {
  color: black;
}

body.microsoft .checklist h2 {
  color: black;
  font-weight: 300;
}

body.microsoft .checklist .left, body.microsoft .checklist .right {
  margin: 0;
  text-align: left;
}

body.microsoft .checklist .shim {
  float: left;
  width: 15%;
}

body.microsoft .checklist .left {
  width: 25%;
}

body.microsoft .checklist .right {
  width: 60%;
}

body.microsoft .checklist ul {
  list-style-image: url("/partners/assets/graphics/msft/check.svg");
  text-align: left;
}

body.microsoft section#MapathonSupport {
  background-color: #2b2d3e;
}

body.microsoft section#MapathonSupport .Primary_Container {
  width: 50%;
}

body.microsoft section#MapathonSupport h1 {
  color: white;
  font-weight: 300;
}

body.microsoft section#MapathonSupport p {
  color: white;
}

body.microsoft section#MapathonSupport ul {
  margin: 20px;
}

body.microsoft section#MapathonSupport ul li {
  font-weight: bold;
}

body.microsoft .nav-item {
  font-size: 1em;
  font-weight: 600;
}

body.microsoft .btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  padding: 4px 30px;
  text-transform: none;
}

body.microsoft .btn-blue {
  background-color: #0078d7;
  border: 0;
}

body.microsoft .invert-btn-grn {
  color: black;
  border: 1px solid black;
}

body.microsoft .flex-control-nav li {
  margin: 4px;
}

body.microsoft .flex-control-paging li a {
  background-color: #999;
  height: 4px;
  width: 4px;
}

body.microsoft .flex-control-paging li a.flex-active {
  background-color: white;
}

@media screen and (max-width: 1024px) {
  body.microsoft section#Primary .Primary_Container {
    width: 80%;
  }
  body.microsoft section.Get-Started .Primary_Container {
    width: 80%;
  }
  body.microsoft section.Current-Projects .HOT-Container {
    width: 60%;
  }
  body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-prev,
  body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-prev {
    left: 10%;
  }
  body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-next,
  body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-next {
    right: 10%;
  }
  body.microsoft section.Log-Time .Primary_Container {
    width: 80%;
  }
  body.microsoft section.Community .Community-Container {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  body.microsoft section#Primary .Primary_Container {
    width: calc(100% - 40px);
  }
  body.microsoft section.Get-Started .Primary_Container {
    width: calc(100% - 40px);
  }
  body.microsoft section.Current-Projects .HOT-Container {
    width: calc(100% - 80px);
  }
  body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-prev,
  body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-prev {
    left: 0;
  }
  body.microsoft section.Current-Projects .flexslider .flex-direction-nav .flex-next,
  body.microsoft section.Current-Projects .flexslider:hover .flex-direction-nav .flex-next {
    right: 13px;
  }
  body.microsoft section.Log-Time .Primary_Container {
    width: calc(100% - 40px);
  }
  body.microsoft section.Community .Community-Container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

/*# sourceMappingURL=microsoft.css.map */
