<div class="Community-Container">
	<h1>Community</h1>
	<p>When posting about your mapping experience, use the #MicrosoftLife and #MSFTGiving hashtags and tag @Microsoft.</p>
  <div class="Community-Links">
		{% if page.twitter != null %}
    <a href="{{ page.twitter }}" class="btn"><i class="ico icon collecticon-twitter social-icon"></i> Twitter </a>
		{% endif %}
		{% if page.facebook != null %}
    <a href="{{ page.facebook }}" class="btn"><i class="ico icon collecticon-facebook social-icon"></i> Facebook </a>
		{% endif %}
  </div>
</div>
