<div class = "events-null">
  <img src = "{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/process/Mapathon.svg" width = "200"></img>
	<p>There are no upcoming events for {{ page.name }}, but you can still get involved!</p>
	<p>
  <a href="http://missingmaps.org/host" class="btn btn-blue">Host A Mapathon</a>
  <a href="mailto:{{ page.contact }}" class="btn btn-blue">Contact Partner Lead</a>
  <a href="http://www.missingmaps.org/events/" class="btn btn-blue">All MissingMaps Events</a>
  </p>
</div>

{% assign current_date = site.time | date: '%Y%m%d' %}
{% assign event = (site.data.[page.id].events | sort: 'date' ) %}
{% for e in event %} {% assign event_date = e.date | date: '%Y%m%d' %}
	{% if event_date >= current_date %}
		{% assign count = count | plus: 1 %}

		<div class="event-sub-container {% if count >= 3 %}hidden{% endif %}">
			<div class="event-top-section clearfix">
				<div class="sub-head">
					<img class="event-images" src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/flags/4x3/{{ e.flag }}.svg" width="24px" />
					<h3 class="event-header">{{ e.title }}</h3>
					{% if e. %}
					<a class="btn btn-grn" href="{{ e.signup_url }}" target="">SIGN UP</a>
					{% endif %}
				</div>
			</div>
			<div class="event-maindetails clearfix">
				<div class="event-details-left">
					<span class="emphasizedNumber">
						{{ e.date | date: "%d" }}
					</span>
					<p><b>{{ e.date | date: "%B" }}</b></p>
				</div>
				<div class="event-details-right">
					<div class="textbox" style="padding-top:8px">
						<p>
							{% if e.place_url %}
							<a href="{{ e.place_url }}"><b>{{ e.place_name }}</b></a> {% else %}
							<b>{{ e.place_name }}</b>
							{% endif %}
						</p>
						<p class="event-details">{{ e.date | date: "%A" }}, {{ e.time_string }}</p>
					</div>
				</div>
			</div>
		</div>

		{% if count == 6 %}
			{% break %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="events-panel">
  <div class="btn invert-btn-grn events-btn">SEE MORE</div>
</div>
