<div class="Primary_Container">
  <h1>Get Started</h1>
  <div>
  <div class="item1">
    <h4>New Mappers</h4>
    <div>
      <p><img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/new_mappers.png" width="60"></p>
      <a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting" class="btn btn-blue">Learn to Map</a>
    </div>
  </div>
  <div class="item2">
    <h4>Log Your Hours</h4>
    <div>
      <p><img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/volunteer.png" width="60"></p>
      <a href="{{ page.hourslink }}" class="btn btn-blue">{{ page.hoursname }}</a>
    </div>
  </div>  
  <div class="item3">
    <h4>Team Leaders</h4>
    <div>
      <p><img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/team_leaders.png" width="60"></p>
      <a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting/#hosting" class="btn btn-blue">Lead a Mapathon</a>
    </div>
  </div>
  </div>
</div>