<div class="Primary_Container">
  <h1></h1>
<!--  <div> -->
<!--  <div class="left"> -->
<!--    <h4>New Mappers</h4> -->
 <!--   <div> -->
 <!--     <p><img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/new_mappers.png" width="60"></p> -->
 <!--     <a href="https://www.youtube.com/watch?v=MEU9c3NkMg0" class="btn btn-blue">Learn to Map</a> -->
 <!--   </div> -->
  </div>
<!--  <div class="right"> -->
<!--    <h4>Team Leaders</h4> -->
<!--    <div> -->
<!--      <p><img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/team_leaders.png" width="60"></p> -->
 <!--     <a href="{{ site.path_prefix }}/aws/hosting/" class="btn btn-blue">Lead a Mapathon</a> -->
<!--    </div> -->
<!--  </div> -->
  <div class="clearfix">
  </div>
</div>
</div>
