<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<h1 id="site-title">
				<a href="{{ site.domain }}/" title="Missing Maps">
					<img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/meta/MM-White.svg" width="94px" alt="Missing Maps Logo">
					<span>Missing Maps</span>
				</a>
			</h1>
		</div>
		<menu class="nav-list" role="menu">
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/learn/">CONTRIBUTE</a></menuitem>
			<!-- <li class="nav-item nav-dropdown">CONTRIBUTE
				<nav class="dropdown-content">
					<a href="http://mapswipe.org/learn/" class="nav-item">LEARN TO MAP</a>
					<a href="http://mapswipe.org/validate/" class="nav-item">LEARN TO VALIDATE</a>
					<a href="http://mapswipe.org/" class="nav-item">MAPSWIPE</a>
				</nav>
			</li> -->
			<div class="nav-item nav-dropdown" role="menuitem" tabindex="0">EVENTS
				<nav class="dropdown-content nav-events" role="group">
					<a href="http://www.missingmaps.org/events/" role="menuitem" tabindex="0" class="nav-item">CURRENT EVENTS</a>
					<a href="http://www.missingmaps.org/host/" role="menuitem" tabindex="0" class="nav-item">ORGANIZE AN EVENT</a>
				</nav>
			</div>
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/about/">ABOUT</a></menuitem>
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/blog/">BLOG</a></menuitem>
			<div class="nav-item nav-dropdown" role="menuitem" tabindex="0">DISCOVER
				<nav class="dropdown-content" role="group">
					<a target="_blank" rel="noopener noreferrer" href="https://stats.now.ohsome.org/" role="menuitem" tabindex="0" class="nav-item">OSM STATS <svg width="11" height="11" viewBox="0 0 11 11" title="externalLink" class="pl2 v-btm" style="height: 15px;"><path fill="currentColor" d="M9.778 9.778H1.222V1.222H5.5V0H1.222C.544 0 0 .55 0 1.222v8.556C0 10.45.544 11 1.222 11h8.556C10.45 11 11 10.45 11 9.778V5.5H9.778v4.278zM6.722 0v1.222h2.194L2.91 7.23l.862.862 6.007-6.007v2.194H11V0H6.722z"></path></svg>
					</a>
				</nav>
			</div>
		</menu>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
			<p>MENU</p>
			<nav class="resp-dropdown-content">
				<a href="http://www.missingmaps.org/learn/" class="nav-item">LEARN TO MAP</a>
				<a href="http://www.missingmaps.org/validate/" class="nav-item">LEARN TO VALIDATE</a>
				<a href="http://mapswipe.org/" class="nav-item">MAPSWIPE</a>
				<a href="http://www.missingmaps.org/events/" class="nav-item">CURRENT EVENTS</a>
				<a href="http://www.missingmaps.org/host/" class="nav-item">ORGANIZE AN EVENT</a>
				<a href="http://www.missingmaps.org/about/" class="nav-item">ABOUT</a>
				<a href="http://www.missingmaps.org/blog/" class="nav-item">BLOG</a>
			</nav>
	</div>
</header>
