<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<h1 id="site-title">
				<a href="{{ site.domain }}/" title="MissingMaps">
					<img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/meta/MM-White.svg" width="94px" alt="Missing Maps Logo">
					<span>Missing Maps</span>
				</a>
			</h1>
		</div>
		<div class="nav-list">
			<ul>
				<li class="nav-item nav-dropdown">CONTRIBUTE
					<div class="dropdown-content">
						<a href="http://www.missingmaps.org/learn/"><div class="nav-item">LEARN TO MAP</div></a>
						<a href="http://www.missingmaps.org/validate/"><div class="nav-item">LEARN TO VALIDATE</div></a>
						<a href="http://www.mapswipe.org/"><div class="nav-item">MAPSWIPE</div></a>
					</div>
				</li>
				<li class="nav-item nav-dropdown">EVENTS
					<div class="dropdown-content nav-events">
						<a href="http://www.missingmaps.org/events/"><div class="nav-item">CURRENT EVENTS</div></a>
						<a href="http://www.missingmaps.org/host/"><div class="nav-item">ORGANIZE AN EVENT</div></a>
						<a href="http://www.missingmaps.org/host/#helper-map-contents"><div class="nav-item">MAPATHON SUPPORT</div></a>
					</div>
				</li>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
				<li class="nav-item nav-dropdown">DISCOVER
					<div class="dropdown-content">
						<a target="_blank" rel="noopener noreferrer" href="https://stats.now.ohsome.org/"><div class="nav-item">OSM STATS <svg width="11" height="11" viewBox="0 0 11 11" title="externalLink" class="pl2 v-btm" style="height: 15px;"><path fill="currentColor" d="M9.778 9.778H1.222V1.222H5.5V0H1.222C.544 0 0 .55 0 1.222v8.556C0 10.45.544 11 1.222 11h8.556C10.45 11 11 10.45 11 9.778V5.5H9.778v4.278zM6.722 0v1.222h2.194L2.91 7.23l.862.862 6.007-6.007v2.194H11V0H6.722z"></path></svg></div></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
			<p>MENU</p>
			<div class="resp-dropdown-content">
				<a href="http://www.missingmaps.org/learn/"><li class="nav-item">LEARN TO MAP</li></a>
				<a href="http://www.missingmaps.org/validate/"><li class="nav-item">LEARN TO VALIDATE</li></a>
				<a href="http://mapswipe.org/"><li class="nav-item">MAPSWIPE</li></a>
				<a href="http://www.missingmaps.org/events/"><li class="nav-item">CURRENT EVENTS</li></a>
				<a href="http://www.missingmaps.org/host/"><li class="nav-item">ORGANIZE AN EVENT</li></a>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
			</div>
	</div>
</header>
