<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<h1 id="site-title">
				<a href="{{ site.domain }}/" title="Missing Maps">
					<img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/meta/MM-White.svg" width="94px" alt="Missing Maps Logo">
					<span>Missing Maps</span>
				</a>
			</h1>
		</div>
		<menu class="nav-list" role="menu">
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/learn/">CONTRIBUTE</a></menuitem>
			<!-- <li class="nav-item nav-dropdown">CONTRIBUTE
				<nav class="dropdown-content">
					<a href="http://mapswipe.org/learn/" class="nav-item">LEARN TO MAP</a>
					<a href="http://mapswipe.org/validate/" class="nav-item">LEARN TO VALIDATE</a>
					<a href="http://mapswipe.org/" class="nav-item">MAPSWIPE</a>
				</nav>
			</li> -->
			<div class="nav-item nav-dropdown" role="menuitem" tabindex="0">EVENTS
				<nav class="dropdown-content nav-events" role="group">
					<a href="http://www.missingmaps.org/events/" role="menuitem" tabindex="0" class="nav-item">CURRENT EVENTS</a>
					<a href="http://www.missingmaps.org/host/" role="menuitem" tabindex="0" class="nav-item">ORGANIZE AN EVENT</a>
				</nav>
			</div>
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/about/">ABOUT</a></menuitem>
			<menuitem class="nav-item"><a href="http://www.missingmaps.org/blog/">BLOG</a></menuitem>
			<div class="nav-item nav-dropdown" role="menuitem" tabindex="0">DISCOVER
				<nav class="dropdown-content" role="group">
					<a href="http://www.missingmaps.org/osmstats/" role="menuitem" tabindex="0" class="nav-item">OSM STATS</a>
				</nav>
			</div>
		</menu>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
			<p>MENU</p>
			<nav class="resp-dropdown-content">
				<a href="http://www.missingmaps.org/learn/" class="nav-item">LEARN TO MAP</a>
				<a href="http://www.missingmaps.org/validate/" class="nav-item">LEARN TO VALIDATE</a>
				<a href="http://mapswipe.org/" class="nav-item">MAPSWIPE</a>
				<a href="http://www.missingmaps.org/events/" class="nav-item">CURRENT EVENTS</a>
				<a href="http://www.missingmaps.org/host/" class="nav-item">ORGANIZE AN EVENT</a>
				<a href="http://www.missingmaps.org/about/" class="nav-item">ABOUT</a>
				<a href="http://www.missingmaps.org/blog/" class="nav-item">BLOG</a>
			</nav>
	</div>
</header>
