<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<h1 id="site-title">
				<a href="{{ site.domain }}{{ site.path_prefix }}/amm" title="MissingMaps">
					<img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/meta/MM-White.svg" width="94px" alt="Missing Maps Logo">
					<span>Missing Maps</span>
				</a>
			</h1>
		</div>
		<div class="nav-list">
			<ul>
				<a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting"><li class="nav-item">LEARN</li></a>
				<a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting/#hosting"><li class="nav-item">ORGANIZE AN EVENT</li></a>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
				<li class="nav-item nav-dropdown">DISCOVER
					<div class="dropdown-content">
						<a href="http://www.missingmaps.org/osmstats/"><div class="nav-item">OSM STATS</div></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
			<p>MENU</p>
			<div class="resp-dropdown-content">
				<a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting"><li class="nav-item">LEARN TO MAP</li></a>
				<a href="{{ site.domain }}{{ site.path_prefix }}/amm/hosting/#hosting"><li class="nav-item">ORGANIZE AN EVENT</li></a>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
			</div>
	</div>
</header>