<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<h1 id="site-title">
				<a href="{{ site.domain }}/" title="MissingMaps">
					<img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/meta/MM-White.svg" width="94px" alt="Missing Maps Logo">
					<span>Missing Maps</span>
				</a>
			</h1>
		</div>
		<div class="nav-list">
			<ul>
				<a href="http://www.missingmaps.org/learn/"><li class="nav-item">CONTRIBUTE</li></a>
				<li class="nav-item nav-dropdown">EVENTS
					<div class="dropdown-content nav-events">
						<a href="http://www.missingmaps.org/events/"><div class="nav-item">CURRENT EVENTS</div></a>
						<a href="http://www.missingmaps.org/host/"><div class="nav-item">ORGANIZE AN EVENT</div></a>
					</div>
				</li>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
				<li class="nav-item nav-dropdown">DISCOVER
					<div class="dropdown-content">
						<a href="http://www.missingmaps.org/osmstats/"><div class="nav-item">OSM STATS</div></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
			<p>MENU</p>
			<div class="resp-dropdown-content">
				<a href="http://www.missingmaps.org/learn/"><li class="nav-item">LEARN TO MAP</li></a>
				<a href="http://www.missingmaps.org/events/"><li class="nav-item">CURRENT EVENTS</li></a>
				<a href="http://www.missingmaps.org/host/"><li class="nav-item">ORGANIZE AN EVENT</li></a>
				<a href="http://www.missingmaps.org/about/"><li class="nav-item">ABOUT</li></a>
				<a href="http://www.missingmaps.org/blog/"><li class="nav-item">BLOG</li></a>
			</div>
	</div>
</header>