<div class = "Primary_Container">
  <div class = "Primary-logo">
    <img src= "{{ site.baseurl }}/assets/graphics/content/logos/JPMorgan_Chase.png" width = "150px"></img>
  </div>
  <div class = "Stat-Item">
    <img src="{{ site.baseurl }}/assets/graphics/staticons/Edit.svg" width="70px">
    <div class="emphasizedNumber" id="stats-usersCount">8,125</div>
    <div class="title">
      Contributions
    </div>
  </div>
  <div class = "Stat-Item">
    <img src="{{ site.baseurl }}/assets/graphics/staticons/Changeset.svg" width="70px">
    <div class="emphasizedNumber" id="stats-usersCount">92</div>
    <div class="title">
      Contributors
    </div>
  </div>
  <div class = "Stat-Item">
    <img src="{{ site.baseurl }}/assets/graphics/staticons/Changeset.svg" width="70px">
    <div class="emphasizedNumber" id="stats-usersCount">60</div>
    <div class="title">
      Projects Completed
    </div>
  </div>
</div>