<div class="Primary_Container">
    {% if page.logo != null %}
    <img src= "{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/logos/{{ page.logo }}" width="125px"></img>
    {% endif %}
      <br />
  <h1>#AWSMapathon</h1>


<!--  <p>Each year, disasters around the world kill nearly 100,000 and affect or displace 200 million people. Many of the places where these disasters occur are literally “missing” from any map, and first responders lack the information to make valuable decisions regarding relief efforts. Missing Maps is an open, collaborative project in which volunteers help map areas where humanitarian organizations are trying to meet the needs of vulnerable people.</p> -->
<!--  <div class="video"> 
    <!-- <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/video.jpg" class="videoPlaceholder">
    <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/msft/play.svg" class="play"> -->
<!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/pAcsCmvG2hs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>  -->

<p><strong>Thank you for all your mapping over the past years on the HOT Tasking Manager!<br> Mappers like you have helped shape how the world’s most vulnerable communities receive critical relief following disasters big and small.</p><br> <p><strong>Please head over to <a href="https://tasks.hotosm.org/partners/aws/stats/mapswipe">AWS' new partnership page</a> to continue your mapping journey using <a href="https://web.mapswipe.org/" target="_blank">MapSwipe4Web</a>.</strong></p><br><p> <strong>Join the Amazon group from your <a href="https://web.mapswipe.org/#/en/profile" target="_blank">profile page</a> (you must be logged in first!) on MapSwipe to have your contributions counted on the new page.</strong></p><br><p><strong>Happy MapSwiping!</strong></p>

    
