<div class = "Primary_Container">
  <div class = "Primary-logo">
    <div class = "Primary-logo-container">
    {% if page.logo != null %}
    <img src= "{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/logos/{{ page.logo }}"></img>
    {% endif %}
    <p>#{{ page.name }}</p>
    </div>
  </div>
  <div class = "Primary-stats">
    <div class = "Stat-Item">
      <img src="{{ site.baseurl }}{{ site.path_prefix }}/assets/graphics/staticons/Folks.svg">
      <div class="emphasizedNumber" id="stats-usersCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Contributors
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="{{ site.baseurl }}{{ site.path_prefix }}/assets/graphics/staticons/Edit.svg">
      <div class="emphasizedNumber" id="stats-editsCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Total Edits
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/staticons/Building.svg">
      <div class="emphasizedNumber" id="stats-buildingCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Buildings Added
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/staticons/Road.svg">
      <div class="emphasizedNumber" id="stats-roadCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        km of Roads
      </div>
    </div>
  </div>
</div>
