<script>
var primaryhash = '{{ page.primary-hashtag }}';
</script>

<div class = "Primary_Container">
  <div class = "Primary-logo">
    <img src= "{{ site.baseurl }}/assets/graphics/content/logos/JPMorgan_Chase.png" width = "150px"></img>
  </div>
  <div class = "Primary-stats">
    <div class = "Stat-Item">
      <img src="{{ site.baseurl }}/assets/graphics/staticons/Edit.svg">
      <div class="emphasizedNumber" id="stats-editsCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Contributions
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="{{ site.baseurl }}/assets/graphics/staticons/Changeset.svg">
      <div class="emphasizedNumber" id="stats-usersCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Contributors
      </div>
    </div>
    <div class = "Stat-Item">
      <img src="{{ site.baseurl }}/assets/graphics/staticons/Changeset.svg">
      <div class="emphasizedNumber" id="stats-projCount">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="title">
        Current Projects
      </div>
    </div>
  </div>
</div>