<div class="Primary_Container">
  <div id="usa">
    <h1>Log your volunteer hours</h1>
    <p>Personal time spent mapping is eligible for a $25/hour match! Visit My Giving Portal to log your volunteer hours.</p>
    <div><a href="{{ page.hourslink }}" class="btn">Log hours now</a></div>
  </div>
  <div id="world" style="display: none;">
    <h1>Log your volunteer hours</h1>
    <p>Visit your local Giving site and log the time you spent mapping</p>
    <div><a href="{{ page.hourslink-world }}" class="btn">Log hours now</a></div>
  </div>
</div>

<!-- see Get Client IP section at bottom of main.js for the code that shows/hides the above blocks -->
