<script>
  PT.projects = [{% assign comma = false %}{% for p in page.tm-projects %}{% if comma %}, {% endif %}'{{ p.id }}'{% assign comma = true %}{% endfor %}];
</script>

<div class = "Projects-Container">
  <h1>Current Projects</h1>
  <div class = "Projects-Container-Leftside">
    <div class = "flexslider Projects-slider">
      <ul class = "slides project-slide">
        {% for p in page.tm-projects %}
        <li>
          <div class = "HOT-Container">
            <div class = "HOT-Map">
              <div class="spinner big">
                <div class="bounce1 big"></div>
                <div class="bounce2 big"></div>
                <div class="bounce3 big"></div>
              </div>
            </div>
            <div class = "HOT-Details">

              <div class = "HOT-Title">
                <p><b></b></p>
              </div>
              <div class = "HOT-Progress">
                <p>14%</p>
              </div>
              <div class = "HOT-Description">
                <p> {{ p.desc }}
                </p>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class = "HOT-Nav">
      <p>More Projects:</p>
      <div class = "HOT-Nav-Projects"></div>
      <a href="http://tasks.hotosm.org/project/{{ p.id }}" class="btn btn-blue">CONTRIBUTE TO THIS PROJECT</a>
    </div>
  </div>
  <div class = "GetInvolved">
      <h3>New to Mapping?</h3>
      <img src = "../assets/graphics/content/process/Learn-MapNow.svg" width = "120"></img>
      <p><a href="http://www.missingmaps.org/contribute/" class="btn btn-blue">LEARN TO MAP </a></p>
  </div>
</div>