<div class = "Projects-Container">
  <div class = "HOT-Task">
    <div class = "HOT-Map">
    </div>
    <div class = "HOT-Details">
      <div class = "HOT-Title">
        Current Projects: <b>Zone two of epidemic meningitis Togo</b>
      </div>
      <div class = "HOT-Progress">
<a href="https://www.pinterest.com/MissingMaps/" class="btn btn-blue">CONTRIBUTE </a>
      </div>
      <div class = "HOT-Description">
        <p>In order to help all organizations seeking to circumscribe the meningitis outbreak area, OpenStreetMap Togo launches calls for mapping of areas affected by meningitis. This mapping will be mapped roads, residential areas and buildings.
        </p>
      </div>
      <div class = "HOT-Contribute">
      </div>
    </div>
  </div>
  <div class = "GetInvolved">
      <h3>Get Involved</h3>
      <a href="https://www.pinterest.com/MissingMaps/" class="btn btn-blue">LEARN TO MAP </a>
      <a href="https://www.pinterest.com/MissingMaps/" class="btn btn-blue">MISSINGMAPS </a>
  </div>    
</div>