<script>
    PT.hashtags = [{% assign comma = false %}{% for h in page.subhashtags %}{% if comma %}, {% endif %}'{{h}}'{% assign comma = true %}{% endfor %}];
</script>

<div class = "Team-Container">
  <h1>Activity</h1>
  <div class = "Team-Nav">
    <p class = "null">VIEW BY:</p>
    <p class = "Selected">TEAMS</p>
    <p>USERS</p>
  </div>
  <div class = "Team-Stats">
    <div class = "Team-Stat-Item">
      <div class = "Team-Graph-Title">
        Top Contributors
      </div>
      <div class = "Team-Graph" id = "Team-Total-Graph"></div>
    </div>
    <div class = "Team-Stat-Item">
      <div class = "Team-Graph-Title">
        Most Buildings Added
      </div>
      <div class = "Team-Graph" id = "Team-Bldng-Graph"></div>
    </div>
    <div class = "Team-Stat-Item">
      <div class = "Team-Graph-Title">
        Most KM of Roads Added
      </div>
      <div class = "Team-Graph" id = "Team-Roads-Graph"></div>
    </div>
  </div>
</div>
