<div class="Team-User-Container">
  <h3 id="grid2Label">Microsoft Mapping Leaderboard</h3>
  <div class="Team-User-Stats" role="grid" aria-labelledby="grid2Label">
    <div class="Team-User-Stat-Item">
      <div class="Team-Graph-Title">
        <div class="left" aria-colindex="1">Team</div>
        <div class="right" aria-colindex="2">Total Edits</div>
      </div>
      <div class="Team-User-Graph" id="Team-User-Total-Graph"></div>
    </div>
    <div class="Team-User-Stat-Item">
      <div class="Team-User-Graph-Title">
        <div class="left" aria-colindex="1">Team</div>
        <div class="right" aria-colindex="2">Buildings Added</div>
      </div>
      <div class="Team-User-Graph" id="Team-User-Bldng-Graph"></div>
    </div>
    <div class="Team-User-Stat-Item">
      <div class="Team-User-Graph-Title">
        <div class="left" aria-colindex="1">Team</div>
        <div class="right" aria-colindex="2">km of Roads Added</div>
      </div>
      <div class="Team-User-Graph" id="Team-User-Roads-Graph"></div>
    </div>
  </div>
  <div class="teams-more">
    <a href="http://www.missingmaps.org/leaderboards/#/msft" class="btn btn-blue">Compare your progress to others</a>
  </div>
</div>
