<div class = "Team-User-Container">
  <h1>Activity</h1>
  <div class = "Team-User-Nav">
    <p class = "null">VIEW BY:</p>
    <p id = "Select-Teams-Graph" class = "Selected">TEAMS</p>
    <p id = "Select-Users-Graph">USERS</p>
  </div>
  <div class = "Team-User-Stats">
    <div class = "Team-User-Stat-Item">
      <div class = "Team-Graph-Title">
        <div class = "left">Teams</div>
        <div class = "right">Total Edits</div>
      </div>
      <div class = "Team-User-Graph" id = "Team-User-Total-Graph"></div>
    </div>
    <div class = "Team-User-Stat-Item">
      <div class = "Team-User-Graph-Title">
        <div class = "left">Teams</div>
        <div class = "right">Buildings Added</div>
      </div>
      <div class = "Team-User-Graph" id = "Team-User-Bldng-Graph"></div>
    </div>
    <div class = "Team-User-Stat-Item">
      <div class = "Team-User-Graph-Title">
        <div class = "left">Teams</div>
        <div class = "right">km of Roads Added</div>
      </div>
      <div class = "Team-User-Graph" id = "Team-User-Roads-Graph"></div>
    </div>
  </div>
  <div class="teams-more">
    <div class="btn invert-btn-grn teams-btn">SHOW MORE TEAMS</div>
  </div>
</div>
